*{
  box-sizing: border-box;
}
body{
  background-image: url(../images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 3rem 5rem 0;
  margin:0;
  color: #fff;
  font-family: 'Poppins', sans-serif;

}

.header{
  height: 8rem;
}

.main-content{
  position:relative;
  display: flex;
  min-height: 500px;
  margin-bottom: 3rem;
  
}

.main-content__mockups{
  width:50%;
  height:auto;
}

.main-content__call-to-action{
  margin-left: 6rem;
  width: 40%;
}
.call-to-action__title{
  font-size: 2.5rem;
}
.call-to-action__cta{
  display:block;
  text-decoration: none;
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  height: 50px;
  width: 200px;
  margin-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  line-height: 50px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3);
  transition: background-color 300ms, color 300ms;
}

.call-to-action__cta:hover{
  background-color:hsl(300, 69%, 71%);
  color: white;
}

.network-cta{
  position: absolute;
  right: 0;
  bottom: 0;

}

.network-icon{
  margin-right: 2rem;
  width: 40px;
  cursor: pointer;
}
.network-icon path{

  fill:#fff;
  transition: fill 300ms;
}
.network-icon:hover path{
  fill: hsl(300, 69%, 71%);
}

.footer{
  width: 100%;
  text-align: center;
}

.attribution a{
  color:#fff;
}

@media (max-width:375px){

  body{
    padding:1.5rem 1.5rem;
  }
  .header{
    height: 5rem;
  }
  .page__logo{
    width: 40%;
  }
  .main-content{
    flex-direction: column;
    width: 100%;
  }
  .main-content__mockups{
    width: 100%;
  }
  .main-content__call-to-action{
    text-align: center;
    margin-left: 0;
    width: 100%;
    margin-bottom: 3rem;
  }
  .call-to-action__title{
    font-size: 1.5rem;
  }
  .call-to-action__cta{
    margin-right: auto;
    margin-left: auto;
  }
  .network-cta{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  
}